table.weather {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 11px;
}

table.weather td {
    border: 1px solid black;
}

table.weather th {
    background-color: gray;
}
